.page {
    padding: 2rem;
    text-align: center;
}

.page h1 {
    color: var(--azul-raf);
    margin-bottom: 1rem;
}

/* ===== Marca d'água "EM DESENVOLVIMENTO" ===== */
.em-desenvolvimento {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    font-size: 6rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.05);
    letter-spacing: 5px;
    text-transform: uppercase;
    z-index: 0;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

.info-user {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.info-user.admin {
    background-color: var(--azul);
    /* azul para admin */
    color: #fff;
}

.info-user.user {
    background-color: var(--verde);
    /* verde para usuário */
    color: #fff;
}

/* ===== BANNER ===== */
.banner {
    background-color: var(--azul-raf);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--azul-raf);
    opacity: 0.8;
}

.banner-overlay {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--branco);
    text-transform: uppercase;
}

.banner-overlay h1 {
    font-size: 4.7rem;
    letter-spacing: 4px;
    font-weight: 1000;
    color: var(--branco);
}

.banner-overlay p {
    font-size: 1.07rem;
    letter-spacing: 1px;
    margin: 10px;
    color: #f1f1f1;
    font-weight: 600;
}


@media (max-width: 1448px) {
    .em-desenvolvimento {
        font-size: 5rem;
    }
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
    .banner {
        height: 140px;
    }

    .banner-overlay h1 {
        font-size: 2rem;
    }

    .banner-overlay p {
        font-size: 0.7rem;
    }



    .em-desenvolvimento {
        font-size: 3rem;
    }
}