.chamado-card {
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 14px 20px;
    margin-bottom: 16px;
    transition: all 0.3s ease;
    width: 100%;
}

.chamado-card:hover {
    transform: translateY(-2px);
}

.chamado-topo {
    color: var(--azul-raf);
    font-weight: 400;
    margin-bottom: 20px;
    border: 1px solid #0000003c;
    border-radius: 10px;
    padding: 5px;
}

.chamado-corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.lado-esquerdo,
.lado-direito {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.titulo-info {
    font-weight: bold;
    color: var(--cinza);
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.perfil-ticket {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: none;
    font-size: 0.9rem;
}

.perfil-ticket-p {
    margin-left: 5px;
}

.descricao {
    font-size: 0.9rem;
    color: var(--cinza-escuro);
    margin-top: 8px;
    text-align: justify;
}

.icone-visualizar {
    background: var(--azul-vivo);
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icone-visualizar svg {
    color: var(--branco);
}

.icone-visualizar:hover {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .chamado-card {
        background-color: var(--azul-raf);
    }

    .chamado-corpo {
        display: flex;
        flex-direction: column;
    }

    .chamado-topo {
        font-size: 0.7em;
        color: var(--branco);
        border: #ffffff3e 1px solid;

    }

    .lado-direito,
    .lado-esquerdo .titulo-info,
    .perfil-ticket-p,
    .descricao {
        font-size: 0.7em !important;
        color: var(--branco);
    }

    .lado-esquerdo,
    .lado-direito {
        background-color: #27648ddb;
        color: var(--branco);
        padding: 10px 5px;
        border-radius: 10px;
        width: 100%;
    }

    .lado-direito {
        background-color: #27648d84;
    }

    .descricao,
    .lado-esquerdo .titulo-info {
        margin: 5px 10px;
    }

    .perfil-ticket-p {
        margin-top: 5px;
    }

    .titulo-info {
        color: var(--branco);
    }

    .icone-visualizar {
        background: none;
        color: var(--branco);
        scale: 2;
        margin-bottom: 5px;
    }

}

@media (max-width: 600px) {
    .chamado-topo {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        flex-wrap: wrap;

    }

    .chamado-topo strong {
        line-height: 1.6;
    }
}